[user]
	name = Ken Swenson
	email = me@kennethswenson.com
	signingkey = 91DA8CD1
[core]
	editor = code -n -w
[push]
	default = simple
[commit]
	gpgsign = true
[merge]
	tool = meld
[gpg]
	program = gpg2
