[user]
	name = Ken Swenson
	email = flat@esoteric.moe
	signingkey = CBCB7A9C
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
[commit]
	gpgsign = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[gpg]
	program = gpg2
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[sendemail]
	smtpserver = smtp.dreamhost.com
	smtpuser = flat@esoteric.moe
	smtpencryption = tls
	smtpserverport = 587
	annotate = yes
[format]
	signOff = yes
[pull]
	rebase = true
