[user]
	name = Ken Swenson
	email = flat@esoteric.moe
	signingkey = CBCB7A9C
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[commit]
	gpgsign = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[gpg]
	program = gpg2
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE